<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>Watermarking App</title>
</head>
<body>
    <div class="judul">
        <div class="logo">
            <img class="logo-img" src="{{ url_for('static', filename='Watermarking.png') }}" alt="Watermarking Logo">
        </div>
        <div class="row">
            <form action="/">
                <button type="submit" class="btn" value="Submit">Watermark</button>
            </form>
            <form action="/index2">
                <button type="submit" class="btn" value="Submit">Detect</button>
            </form>
        </div>
        <div class="watermak">
            <div class="decode">
                <div class="wrapper">
                    <form action="/detect" method="post" enctype="multipart/form-data">
                        <h1>UPLOAD GAMBAR</h1>
                        <div class="upload-box">
                            <input type="file" name="image" class="form-control" autocomplete="off" id="image-upload" required onchange="previewImage(this, 'image-preview')">
                            <label for="image-upload" class="upload-button">Upload</label>
                            <div id="image-preview"></div>
                        </div>
                        <button type="submit" class="btn" value="Detect Watermark">DETECT WATERMARK</button>
                    </form>                    
                </div>
                <div class="wrapper">
                    <h1>WATERMARK</h1>
                    <div class="upload-box">
                        {% if detect_filename %}
                            <img class="hasil" src="{{ url_for('static', filename='uploads/' ~ detect_filename) }}" alt="Result" style="max-width: 300px; max-height: 150px;">
                        {% else %}
                            <img class="hasil" src="" alt="Result" style="max-width: 300px; max-height: 150px;">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function previewImage(input, previewId) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById(previewId).innerHTML = '<img src="' + e.target.result + '" alt="Image Preview" style="max-width: 300px; max-height: 150px;">';
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>
</body>
</html>
